/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* FONTS */

/** @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */
@import url("https://use.typekit.net/chp7dgz.css");
/* @import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=K2D&display=swap");
:root {
  --xxs: 2px;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 48px;

  --borders: 1px solid #E1E7EC;
  --borderradius: 0.9rem;
  --margins: 0.75rem;
  --inputmargins: 5px;

  --accent1: #02215A;
  --accent2: #033AA0;
  --accent3: #377CFB;
  --accent4: #377CFB;
  --accent5: #699CFB;
  --accent6: #C5D9FF;
  --accent7: #E3EDFF;

  --primary1: #1D1D35;
  --primary2: #222549;
  --primary3: #3A3F78;
  --primary4: #5053A7;
  --primary5: #8385C3;
  --primary6: #C1C2E1;
  --primary7: #F1F1F9;

  --neutral1: #212934;
  --neutral2: #5F6B7A;
  --neutral3: #8894A7;
  --neutral4: #B8C4CE;
  --neutral5: #CFD6DE;
  --neutral6: #E1E7EC;
  --neutral7: #F8F9FA;

  --error: #ff0051;
  --approval: #00bf5c;

}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neutral6); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary6); 
}




body {
  margin: 0px;
  padding:0px; 
  font-family: "skolar-sans-latin", sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 110%;
  color: var(--neutral1);
  background: url("/nycbackground2.png") no-repeat bottom center fixed;
  background-color: var(--accent7);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-clip: content-box;
}



:focus {outline:none;}
::-moz-focus-inner {border:0;}

form {
  flex-grow: 1;
}

a {
  text-decoration: none; 
  cursor: pointer;

}

textarea {
  border: none;
  resize: none;
  height: 5em;
  width: 30em;
  background: var(--neutral7);
  font-family: "skolar-sans-latin", sans-serif;
  font-size: 90%;
}



.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-flex-alignEnd {
  align-items: flex-end;
}

.u-flex-spaceEvenly {
  justify-content: space-evenly;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 700;
  line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
  font-family: "skolar-sans-latin", sans-serif;
}


h1 {
  font-weight: 500;
  font-size: 140%;
  color: var(--primary3);
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary4);
}


input {
    background-color: var(--neutral7);
    border: none;
    /*border-bottom: 1px solid var(--neutral5);*/
    width: 200px;
    padding: 0.3rem;
    /*margin: var(--margins); commented this out because it was messing with alignment*/
    font-size: 90%;
    font-family: "skolar-sans-latin", sans-serif;
    line-height: 100%;
}

textarea {
  padding: 0.3rem;
}

button, .u-button{
    text-transform: lowercase;
    padding: 0.2rem 1rem 0.5rem 1rem;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    width: auto;
    border: none;
    border-radius: var(--borderradius);
    margin: var(--margins);
    font-weight: 300;
    font-size: 100%;
    font-family: "skolar-sans-latin", sans-serif;
    background-color: var(--primary4);
    color: white;
}

.fieldname {
  font-size: 120%;
  margin: var(--inputmargins);
}


select:focus,
button:focus, .u-button:hover {
    outline: none;
    /*box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);*/
}
/* DON'T DISPLAY ARROWS IN NUMBER INPUTS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary5);
  /*background-color: var(--primary6);*/
  caret-color: var(--primary5);
}

textarea:focus {
  outline: none;
  caret-color: var(--primary5);
  border-bottom: 2px solid var(--primary5);

}

button:hover, .u-button:hover {
  background-color: var(--primary5);
  cursor: pointer;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;

}

.durationButton{
  margin: var(--xs);
  border-radius: var(--borderradius);
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  color: var(--neutral3);
  background-color: var(--neutral7);
  font-size: 90%;
  letter-spacing: 0.02em;
  border: none;
}

.durationButton:hover{
  color: white;
}

.durationSelect{
  color: white !important;
  background-color: var(--primary5) !important;
}

::placeholder {
  color: var(--neutral3);
  font-size: 90%;
  font-family: "skolar-sans-latin", sans-serif;
  font-weight: 300;
}

#root {
  width:  100%;
  overflow: auto;
  box-sizing: border-box;
}