/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* FONTS */

/** @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */
@import url("https://use.typekit.net/chp7dgz.css");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xxs: 2px;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 48px;

  --borders: 1px solid black;
  --borderradius: 0.5rem;
  --margins: 0.75rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "skolar-sans-latin", sans-serif;
  font-weight: 300;
  line-height: 110%;
}

form {
  flex-grow: 1;
}

a {
  text-decoration: none; 
  cursor: pointer;

}


.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-flex-alignEnd {
  align-items: flex-end;
}

.u-flex-spaceEvenly {
  justify-content: space-evenly;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 700;
  line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}





.bkgreen {
  background-color: lightgreen;
}

.bkred {
  background-color: lightcoral;
}


input {
    border: var(--borders);
    width: 200px;
    padding: 0.7rem;
    border-radius: var(--borderradius);
    margin: var(--margins);
    font-size: 110%;
    font-family: "skolar-sans-latin", sans-serif;
    line-height: 100%;
}

button, .u-button{
    border: var(--borders);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    width: 200px;
    border-radius: var(--borderradius);
    margin: var(--margins);
    font-weight: 700;
    font-size: 160%;
    font-family: "skolar-sans-latin", sans-serif;
}
