h1 {
  font-weight: 500;
  font-size: 120%;
}
.title {
    margin: 0.5em auto;
}

.field {
  display: block;
  position: relative;
  left: -1em;
}

.error{
    color: red;
}


.submit{
    cursor: pointer;
    background: var(--primary4);
}


.warning {
  color: red;
  font-weight: 700;
  padding: 10px;
  margin: 10px;
  border: var(--borders);
}

.Login-input, .Reg-input {
  display: flex;
  flex-direction: column;
}

.inputTextField {
  background: var(--neutral7);
  margin: 0px var(--xs) var(--s);
  width: 12rem;
  font-size: 90%;
}

.inputTextField-small {
  background: var(--neutral7);
  margin: 0px var(--xs) var(--s);
  width: 4.65rem;
  font-size: 90%;
}

.fieldname {
  font-size: 80%;
  text-transform: lowercase;

}
.inputinline {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}
.inputbirthdate {
  background: var(--neutral7);
  margin: 0px var(--xs) var(--s);
  width: 6rem;
  font-size: 90%;
}



::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;

  background-color: var(--neutral7); /* Fallback color if gradients are not supported */
  /*background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); For Chrome and Safari 
  background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); For old Firefox (3.6 to 15) 
  background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4);  For pre-releases of Internet Explorer  10
  background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); For old Opera (11.1 to 12.0)
  background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); Standard syntax; must be last */
  font-family: "skolar-sans-latin", sans-serif;
  border: none;
  border-bottom: 1px solid var(--neutral5);
  border-radius: 0px;
  overflow: hidden;
  padding: 0.3rem;
  line-height: 100%;
  font-size: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select:focus {
  outline: none;
  border-bottom: 1px solid var(--primary5);
}

/* NOT ADDING ICONS FOR NOW
.mail-icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 4px;
  width: 15px;
  height: 10px;
  border-radius: 1px;
  border: solid 1px currentColor;
}
.mail-icon:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}
.mail-icon:after {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}*/