
.title {
    margin: 0.5em auto;
}

.field {
  display: block;
  position: relative;
  left: -1em;
}

.pwverify {
  font-size: 70%;

}
.error{
    color: var(--error);
}

.approval{
  color: var(--approval);
}

.submit{
    cursor: pointer;
    background: var(--primary4);
}


.warning {
  color: var(--error);
  font-weight: 700;
  padding: 10px;
  margin: 10px;
}

.Login-input, .Reg-input {
  display: flex;
  flex-direction: column;
}

.inputTextField {
  background: var(--neutral7);
  margin: 0px var(--xs) var(--s);
  width: auto;
  font-size: 90%;
}

.inputTextField-small {
  background: var(--neutral7);
  margin: 0px var(--xs) var(--s);
  width: auto;
  font-size: 90%;
}

.Login-succeed {
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 500px;
}
.fieldname {
  font-size: 80%;
  text-transform: lowercase;

}
.inputinline {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}
.inputbirthdate {
  background: var(--neutral7);
  margin: 0px var(--xs) var(--s);
  width: auto;
  padding: 0.4rem;
  font-size: 90%;
  height: 100%;
}

.validemail:focus {
  border-bottom: 2px solid var(--approval);
}

.invalidemail, .invalidemail:focus {
  border-bottom: 2px solid var(--error);
}



.inputbirthdate::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.inputbirthdate::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-border-radius: 0px;
  background-color: var(--neutral7); /* Fallback color if gradients are not supported */
  /*background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); For Chrome and Safari 
  background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); For old Firefox (3.6 to 15) 
  background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4);  For pre-releases of Internet Explorer  10
  background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); For old Opera (11.1 to 12.0)
  background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); Standard syntax; must be last */
  font-family: "skolar-sans-latin", sans-serif;
  border: none;
  border-bottom: 1px solid var(--neutral5);
  border-radius: 0px;
  overflow: hidden;
  padding: 0.3rem;
  line-height: 100%;
  font-size: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select:focus {
  outline: none;
  border-bottom: 2px solid var(--primary5);
}

.reg-container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-rows: 4rem 4rem 4rem 4rem 4rem;
  grid-template-columns: 50% 50%;
}

.reg-dropbtn {
  margin: 0px var(--xs) var(--s);
  max-height: 2rem;
}