.MainPage-feedMapContainer{
    display: flex;
    margin: 0 10% 0 10%;
    justify-content: center;
    margin-top: var(--xs);
}

.MainPage-mapContainer {
  display: flex;
  flex-shrink: 1;
  width: 30%;
  max-width: 50%;
  margin-left: var(--xs);
  flex-grow: 3;
}

.MainPage-listingsContainer{
  min-width: 60%;
  flex-shrink: 0;
  flex-grow: 1;
}

#map {
  min-width: 40%;
}