.Profile-container{
  display: flex;
  padding: 0 10% 0 10%;
}

.UserSettings-photoContainer {
  --avatarSize: 6rem;
  border-radius: 50%;
  display: flex;
  height: var(--avatarSize);
  margin-right: 1.4rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.UserSettings-photo {
  --avatarSize: 6rem;
  object-fit: cover;
  border-radius: 50%;
  width: var(--avatarSize);
  height: var(--avatarSize);
  cursor: pointer;
}

.UserSettings-photo:hover{
  opacity: 0.75;
}

.UserSettings-personalInfo{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.UserSettings-personalInfoBlock {
  padding: 0.5rem 1.4rem 0.5rem 0;
}

.UserSettings-personalInfoName {
  grid-column: 1/2;
  grid-row: 1/2;
}

.UserSettings-personalInfoEmail {
  grid-column: 1/2;
  grid-row: 2/3;
}

.UserSettings-personalInfoAge {
  grid-column: 2/3;
  grid-row: 1/2;
}

.UserSettings-personalInfoGender {
  grid-column: 2/3;
  grid-row: 2/3;
}


.UserSettings-description {
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.ProfileBar-tabContainer{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  margin: 2rem 1rem 26rem 6rem;
  padding: 0.5rem 1rem 0.5rem 3rem;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.05);
}

.ProfileBar-tab {
  text-transform: lowercase;
  font-size: 100%;
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0;
  letter-spacing: 0.02em;
  color: var(--primary2);
}

.ProfileBar-tab:hover {
  color: var(--primary4);
  cursor: pointer;
}

.TabToDisplay-container {
  margin: 2rem 0.5rem 1rem 2rem;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 3px;
  background-color: white;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.05);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
}

.UserSettings-container, .YourListings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.YourListings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.UserSettings-aboutContainer {
  display: flex;
  background-color: var(--neutral7);
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  border-radius: 5px;
  width: 100%;
}
#savebutton {
  align-self: center;
}

.UserSettings-genderbutton {
  font-size: 120%;
  font-weight: 700;
  margin: 0;
  padding: 0.3rem;
  border: 1px solid white;
  color: white;
  border-radius: 0;
  --pink: rgb(255, 59, 124);
  --blue: rgb(0, 75, 146);
  --purple: rgb(95, 0, 107);
}

.UserSettings-genderbuttonM {
  background-color: var(--blue);
}
.UserSettings-genderbuttonF {
  background-color: var(--pink);
}
.UserSettings-genderbuttonNB {
  background-color: var(--purple);
}

.UserSettings-genderbutton:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

.UserSettings-genderbuttonActive {
  color: var(--accentcolor);
}


.pro-fieldname {
  font-size: 100%;
}

.pro-textbox {
  align-self: center;
}