.ProfileBar-container {
  display: flex;
  height: var(--avatarSize);
  background: pink;
}

.ProfileBar-photo {
  --avatarSize: 150px;
  object-fit: cover;
  border-radius: 50%;
  width: var(--avatarSize);
  height: var(--avatarSize);
}

.ProfileBar-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileBar-tab {
  font-size: 140%;
  color: #555555;
  text-decoration: underline;
  margin: 1rem;
  padding: 0.2rem;
}

.ProfileBar-tab:hover {
  background-color: #EEEEEE;
}