.SplashPage-container {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 20rem;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
    border-radius: var(--borderradius);
    border: var(--borders);
}

/*.splashbody {
  font-family: "skolar-sans-latin", sans-serif;
  font-weight: 300;
  line-height: 110%;
  color: var(--neutral1);
  background-color: var(--primary7);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-clip: content-box;
  background: url("/nycbackgroundwithbunnies.svg") no-repeat bottom center fixed;
}
*/
.SplashPage-infoContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
}

.SplashPage-searchContainer, .SplashPage-dateContainer {
  padding: 1rem 0rem 0.5rem 0rem;
}

.SplashPage-searchDescription, .SplashPage-dateDescription{
  text-transform: lowercase;
  font-weight: 300;
  font-size: 70%;
  letter-spacing: 0.05em;
}

.SplashPage-searchAndDates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SplashPage-logo {
    display: block;
    font-weight: 600;
    color: var(--primary3);
    font-size: 190%;
    text-align: center;
    line-height: 100%;
    width: auto;
    margin-bottom: 1rem;
}
.SplashPage-go{
    font-size: 120%;
    font-weight: 500;
}
.SplashPage-input {
    margin: var(--inputmargins);
}

.SplashPage-tagline {
    font-size: 200%;
}
.SplashPage-taglineContainer {
  width: auto;
}

.SplashPage-rentinput {
    font-size: 110%;
    max-width: auto;
}

.SplashPage-listingtypebutton {
  font-size: 120%;
  font-weight: 700;
  border: 1px solid white;
  color: white;
  border-radius: var(--s);
  margin: 0.5rem;
  background-color: var(--accentcolor);
}

.SplashPage-listingtypebutton:hover {
  background-color: #668215;
}

.SplashPage-listingtypebuttonactive {
  background-color: #475716;
}

.RoomToggle.react-toggle--checked .react-toggle-track {
    background-color: darkgray;
}

.RoomToggle.react-toggle .react-toggle-track {
    background-color: darkgray;
}

.RoomToggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.RoomToggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}
