.SplashPage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 10%;
}

.SplashPage-infocontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.SplashPage-logo {
    display: flex;
    font-family: "K2D";
    font-size: 200%;
    justify-content: center;
    width: auto;
    margin: 5%;
}
.SplashPage-go{
    font-size: 160%;
    font-weight: 700;
}
.SplashPage-input {
    margin: var(--inputmargins);
}

.SplashPage-tagline {
    font-size: 120%;
}

.SplashPage-search {
    font-size: 110%;
}

.SplashPage-rentinput {
    font-size: 110%;
    max-width: 4rem;
}

.SplashPage-listingtypebutton {
  font-size: 120%;
  font-weight: 700;
  margin: 0;
  padding: 0.3rem;
  border: 1px solid white;
  color: white;
  border-radius: var(--s);
  margin: 0.5rem;
  background-color: var(--accentcolor);
}

.SplashPage-listingtypebutton:hover {
  background-color: #668215;
}

.SplashPage-listingtypebuttonactive {
  background-color: #475716;
}

.RoomToggle.react-toggle--checked .react-toggle-track {
    background-color: darkgray;
}

.RoomToggle.react-toggle .react-toggle-track {
    background-color: darkgray;
}

.RoomToggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.RoomToggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}
