.SplashPage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: auto;
    margin: 10%;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
    border-radius: var(--borderradius);
}

.SplashPage-infocontainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
}

.SplashPage-logo {
    display: flex;
    font-weight: 700;
    color: var(--primary3);
    font-size: 130%;
    justify-content: center;
    width: auto;
    margin: 5%;
}
.SplashPage-go{
    font-size: 120%;
    font-weight: 500;
}
.SplashPage-input {
    margin: var(--inputmargins);
}

.SplashPage-tagline {
    font-size: 120%;
}
.SplashPage-taglineContainer {
  width: auto;
}

.SplashPage-search {
    font-size: 110%;
}

.SplashPage-rentinput {
    font-size: 110%;
    max-width: auto;
}

.SplashPage-listingtypebutton {
  font-size: 120%;
  font-weight: 700;
  border: 1px solid white;
  color: white;
  border-radius: var(--s);
  margin: 0.5rem;
  background-color: var(--accentcolor);
}

.SplashPage-listingtypebutton:hover {
  background-color: #668215;
}

.SplashPage-listingtypebuttonactive {
  background-color: #475716;
}

.RoomToggle.react-toggle--checked .react-toggle-track {
    background-color: darkgray;
}

.RoomToggle.react-toggle .react-toggle-track {
    background-color: darkgray;
}

.RoomToggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.RoomToggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}
