/* NOTE: the order of these styles DO matter */
 
/* Will edit everything selected including everything between a range of dates */
@import url("https://use.typekit.net/chp7dgz.css");

.DateInput_input {
  font-family: skolar-sans-latin;
  font-weight: 300;
  font-size: 90%;
  margin: var(--xs);
  padding: var(--s);
  width: auto;
}

/* Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: var(--primary4);
  color: white;
}

.CalendarDay {
  border-color: var(--neutral7);
}

.CalendarDay__selected_span {
  color: white;
  background: var(--primary5);
}
.CalendarDay__selected_end {
  background: var(--primary4);
}
 
.CalendarDay:hover{
  background: var(--primary3);
  color: white;
  cursor: pointer;
  border: none;
}

.CalendarDay:focus{
  outline: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1)
}
/* Will edit when the second date (end date) in a range of dates */
/* is not yet selected. Edits the dates between your mouse and said date */

.DayPickerKeyboardShortcuts_show {
  opacity: 0;
}
.DateRangePickerInput__withBorder {
  border: none;
}

.DateRangePickerInput {
  width: auto;
  background-color: transparent !important;
}

.DateRangePicker, .DateRangePicker_1 {
  width: auto;
  display: flex;
}

.DateInput_input {
  text-align: center;
  vertical-align: center;
  padding: var(--xs);
  width: 6em;
  color: var(--neutral1);
  border: none;
  border-bottom: 1px solid var(--neutral5);
  background-color: var(--neutral7) !important;
}

.DayPicker_weekHeader {
  padding: var(--xs) var(--xs) var(--xs) var(--xs);
}

.DateInput {
  width: auto;
  padding: .2rem;
  margin: var(--xs);
  background-color: transparent !important;
}

.DateRangePickerInput_arrow_svg, .DayPickerNavigation_svg__horizontal {
  fill: var(--neutral2);
}

.CalendarMonth_caption {
  padding-bottom: 47px;
  color: var(--neutral1);
}

.DayPicker_weekHeader_li {
  color: var(--neutral1);
}

.DayPickerNavigation_button {
  border: var(--borders);
  border-radius: 0;
}

small {
  font-size: 100%;
  font-family: skolar-sans-latin;
  font-weight: 500;
  color: var(--neutral2);
}