.NavBar-container{
    display: flex;
    height: 5%;
    background:white;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3rem;
    border-bottom: 1px solid var(--neutral6);
}

.NavBar-logo {
    font-family: sketchnote-text;
    font-style: normal;
    font-weight: 700;
    font-size: 150%;
    margin: 10px 20px;
}

.NavBar-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--xs);
}
.NavBar-link {
    margin: 10px;
    color: var(--primary2);
    padding: 0.4rem 2px;
    cursor: pointer;
    font-size: 90%;
    display: flex;
}

.NavBar-linkContainer-loggedIn, .NavBar-linkContainer-loggedOut {
  margin: 0px 10px 0px 10px;
}
.NavBar-search {
  background: var(--neutral7);
  border: none;
  border-radius: 3px;
  font-weight: 300;
}

.NavBar-link:hover{
    color: var(--primary4);
}

.NavBar-newListing{
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

.NavBar-newListing, .NavBar-link{
  letter-spacing: 0.03em;
}

.NavBar-logo-link {
    color: var(--primary3);
    
}

.hamburger {
  display: none;
}

/* only show when screen size < 640px */
@media screen and (max-width: 640px) {
  .hamburger {
    display: block;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* applied to tag with both classes */
.show.menu {
  display: block;
}


