.NavBar-container{
    display: flex;
    height: 5%;
    background:white;
    align-items: center;
    justify-content: space-between;
    margin: 0% 4%;
    border-bottom: 1px solid var(--neutral6);
}

.NavBar-photo {
  --avatarSize: 35px;
  object-fit: cover;
  border-radius: 50%;
  width: var(--avatarSize);
  height: var(--avatarSize);
}

.NavBar-logo {
    font-family: sketchnote-text;
    font-style: normal;
    font-weight: 700;
    font-size: 200%;
    margin: 10px 20px;
    color: var(--primary3);

}

.NavBar-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--xs);
}
.NavBar-link {
    margin: 10px;
    color: var(--primary2);
    padding: 1rem 2px;
    cursor: pointer;
    font-size: 90%;
    display: flex;


}

.NavBar-link:hover{
    color: var(--primary4);
}

.NavBar-logo-link {
    color: var(--primary3);
    
}

.NavBar-newListing{
    font-size: 90%;
    cursor: pointer;
}
