.NewListing-container{
    border-radius: var(--borderradius);
    display: grid;
    grid-template-columns: 0% 30rem;
    /*grid-template-rows: 45px 100px 10px auto auto;*/
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.NewListing-left{
    grid-column:1 / 2;
    margin: 2em;
}

.NewListing-description{
  margin: 1rem 0 0.5rem 0;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.NewListing-center{
    margin: 10%;
    grid-column: 2/3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  

}

.NewListing-moveInDate {
  font-weight: 300;
  width: 7.5rem;
  font-size: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#moveindatepicker:before {
  content: attr(placeholder) !important;
  color: var(--neutral3);
}

.NewListing-dateinvisible {
  color: var(--neutral6);
}

.NewListing-pricefocus {
  outline: none;
  border-bottom: 2px solid var(--primary5);
  /*background-color: var(--primary6);*/
  caret-color: var(--primary5);
}

.NewListing-price {
  background-color: var(--neutral7);
  padding: 0.3rem;
  color: var(--neutral3);
  width: 7rem;
  flex-shrink: 0;

  font-size: 90%;
}


.NewListing-center > * {
    /*apparently this changes the margin of all the children elements of NewListing-center!*/
    margin: 5px 0;
}


.NewListing-boolbutton {
  font-size: 120%;
  font-weight: 700;
  margin: 0;
  padding: 0.3rem;
  border: 1px solid white;
  color: white;
  border-radius: 0;
  width: 11rem;
}

.NewListing-boolbutton-false {
    background-color: #FF1111;
}

.NewListing-boolbutton-true {
    background-color: #11FF11;
}


.NewListing-supercontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.NewListing-submit {
  display: flex;
  justify-content: flex-end;
}
