.NewListing-container{
    border-radius: var(--borderradius);
    display: flex;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}



.NewListing-left{
    grid-column:1 / 2;
    margin: 2em;
}


.NewListing-buttons{
  display: flex;
  justify-content: center;
}
.Reg-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.25rem 0rem 0.25rem 0rem;
}

.fieldname {
  font-size: 90%;
  text-transform: lowercase;
  margin: var(--inputmargins) 0 0.15rem 0;
}

.inputinline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.NewListing-inputForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.NewListing-description{
  margin: 1rem 0 0.5rem 0;
  padding-bottom: 0.3rem;
  font-weight: 400;
  font-family: skolar-sans-latin-extended;
}

.NewListing-duration {
  display: flex;
}

.NewListing-center{
    margin: 10%;
    grid-column: 2/3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  

}

.NewListing-moveInDate {
  font-weight: 300;
  width: auto;
  font-size: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#moveindatepicker:before {
  content: attr(placeholder) !important;
  color: var(--neutral3);
}

.NewListing-dateinvisible {
  color: var(--neutral7);
}

.NewListing-pricefocus {
  outline: none;
  border-bottom: 2px solid var(--primary5);
  /*background-color: var(--primary6);*/
  caret-color: var(--primary5);
}

.NewListing-price {
  background-color: var(--neutral7);
  padding: 0.3rem;
  color: var(--neutral3);
  width: 7rem;
  flex-shrink: 0;

  font-size: 90%;
}


.NewListing-center > * {
    /*apparently this changes the margin of all the children elements of NewListing-center!*/
    margin: 5px 0;
}


.NewListing-boolbutton {
  font-size: 120%;
  font-weight: 700;
  margin: 0;
  padding: 0.3rem;
  border: 1px solid white;
  color: white;
  border-radius: 0;
  width: 11rem;
}

.NewListing-boolbutton-false {
    background-color: #FF1111;
}

.NewListing-boolbutton-true {
    background-color: #11FF11;
}


.NewListing-supercontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.NewListing-submit {
  display: flex;
  align-self: stretch;
  margin-left: 0;
  margin-right: 0;
}


.NewListing-textBoxContainer {
  width: 100%;
  box-sizing: border-box;
}

.NewListing-textBox {
  min-height: 6rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--borderradius);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 300;
  font-size: 90%;
}

.NewListing-search {
  width: 100%;
}