.PreferenceBar-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--neutral7);
    margin: 0px;
    padding: 0 10% 0 10%;
}

.PreferenceBar-container > *{
    margin: var(--xs);
}

.PreferenceBar-checkbox {
    margin: 0em 0.2em;
    width: auto;
}

.PreferenceBar-priceInput {
    font-size: 90%;
    font-family: "skolar-sans-latin";
    font-weight: 300;
    width: 6rem;
}

.PreferenceBar-dollarsign {
    font-size: 90%;
    font-family: "skolar-sans-latin";
    font-weight: 300
}

.PreferenceBar-durationButton{
  margin: 0rem 0 0 0;
  border-radius: 1px;
  border: 1px solid var(--primary4);
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  color: var(--primary4);
  background-color: white;
  font-size: 90%;
  letter-spacing: 0.02em;
}
.PreferenceBar-durationButton:hover{
  color: white;
}

.PreferenceBar-durationSelect{
  color: white !important;
  background-color: var(--primary4) !important;
}

.PreferenceBar-gobutton{
  background-color: var(--primary4);
}

.PreferenceBar-gobutton:hover {
  background-color: var(--primary5);
}
.PreferenceBar-gobutton:active {
  background-color: var(--primary6);
}