.PreferenceBar-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--neutral7);
    margin: 0px;
    padding: 0 10% 0 10%;
}

.PreferenceBar-container > *{
    margin: var(--xs);
}

.PreferenceBar-checkbox {
    margin: 0em 0.2em;
    width: auto;
}

.PreferenceBar-priceInput {
    font-size: 80%;
    font-family: "skolar-sans-latin";
    font-weight: 300;
    width: 6rem;
}

.PreferenceBar-dollarsign {
    font-size: 80%;
    font-family: "skolar-sans-latin";
    font-weight: 300
}

.PreferenceBar-durationButton{
  margin: var(--xs);
  border-radius: var(--borderradius);
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  color: var(--primary3);
  background-color: var(--neutral6);
  font-size: 70%;
  letter-spacing: 0.02em;
}
.PreferenceBar-durationButton:hover{
  color: white;
}

.PreferenceBar-durationSelect{
  color: white !important;
  background-color: var(--primary5) !important;
}

.PreferenceBar-gobutton{
  background-color: var(--primary4);
}

.PreferenceBar-gobutton:hover {
  background-color: var(--primary5);
}
.PreferenceBar-gobutton:active {
  background-color: var(--primary6);
}


.moveindate {
  width: 7.5rem;
  font-size: 90%;
}


.moveindate::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.moveindate::-webkit-datetime-edit-day-field[aria-valuetext=blank],
.moveindate::-webkit-datetime-edit-month-field[aria-valuetext=blank],
.moveindate::-webkit-datetime-edit-year-field[aria-valuetext=blank]
{
  color: #999;
}