.upload-btn-wrapper {
  display: none;
}


/* .upload-btn-wrapper input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding: 8px 20px;
  font-size: 120%;
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
} */