.Card-container {
  border: 1px solid black;
  border-radius: 0.5em;
  height: auto;
  display: flex;
  flex-direction: column;
}

.Card-pink {
  color: rgb(255, 59, 124);
}

.Card-blue {
  color: rgb(0, 75, 146);
}

.Card-purple {
  color: rgb(95, 0, 107);
}

.Card-profilePic {
  margin: 10px;
  border: 1px solid black;
  border-radius: 10em;
  max-height: 5em;
  aspect-ratio: 1;
}

.Card-nameAgeGender{
  font-size: 200%;
  font-weight: 700;
  margin: 5px;
  padding-top: 0.2em;
}

.Card-top {
  height: 40%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.Card-topMiddle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 1;
}

.Card-locationDatePrice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Card-topRight {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

.Card-bottom {
  height: 45%;
}

.Card-flags {
  height: 15%;
}


.Card-textBox {
  margin: 1em;
  font-size: 120%;
  text-align: justify;
  line-height: 110%;
}

.Card-collapse {
  height: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
}