.Card-container {
  border: var(--border);
  border-radius: var(--borderradius);
  height: auto;
  max-width: 768px;
  display: grid;
  grid-template-columns: 8rem 27rem auto;
  grid-template-rows: 2rem 6rem 2px auto;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: var(--s);
}

.Card-pink {
  color: rgb(255, 59, 124);
}

.Card-blue {
  color: rgb(0, 75, 146);
}

.Card-purple {
  color: rgb(95, 0, 107);
}

.Card-profilePic {
  border-radius: 10em;
  padding: var(--s);
  max-width: 6rem;
  background-color: #FFCCCC;
}

.Card-profilePicContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Card-nameAgeGender{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 130%;
  font-weight: 700;
  margin: var(--xs);
  padding-top: 0.2em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.Card-top {
  height: 40%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.Card-topMiddle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 1;
}

.Card-locationDatePrice{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0px var(--xs);
  display: flex;
  flex-direction: column;
}

.Card-location {
  font-variant: small-caps;
  font-weight: 500;
  color: var(--neutral2);
  font-size: 100%;
  margin: 0px var(--xxs);

}

.Card-date {
  font-size: 110%;
  margin: var(--l) var(--xs) 0px var(--xs);
  font-weight: 500;
  color: var(--neutral1);

}

.Card-topRight {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #CCCCCC;
}

.Card-bottom {
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}

.Card-flags {
  margin: var(--xxs);
}

.Card-horizontalLine {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: var(--neutral7);
}

.Card-flag {
  padding-right: 1rem;
  font-weight: 300;
  font-size: 80%;
  color: var(--neutral3);
}

.Card-textBox {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  margin: 1em;
  font-size: 100%;
  text-align: justify;
  line-height: 110%;
}

.Card-collapse {
  height: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
}

th {
  font-weight: 300;
  padding: var(--s);
  padding-right: 1rem;
}
tr {
  padding: var(--xs);
}

.ldp-left {
  font-weight: 500;
  font-size: 110%;
  min-width: 6rem;
}
.ldp-right {
  font-size: 110%;

}
