.Card-container {
  border: var(--border);
  height: auto;
  min-width: 300px;
  display: grid;
  grid-template-rows: 4rem 40%;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: var(--s);
  position: relative;
  background-color: white;
}

.Card-editDeleteContainer {
  opacity: 0;
  position: absolute;
  background-color: rgba(64, 64, 64,0.5);
}

.Card-editContainer {
  border-radius: 3px;
  border: 1px solid white;
  color: white;
}

.Card-deleteContainer {
  border-radius: 3px;
  border: 1px solid white;
  color: white;
}
 
.Card-container:hover .Card-editDeleteContainer{
  opacity: 1;
}

.Card-pink {
  color: rgb(255, 59, 124);
}

.Card-blue {
  color: rgb(0, 75, 146);
}

.Card-purple {
  color: rgb(95, 0, 107);
}

.Card-top{
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.Card-bottom{
  grid-row: 2/3;
  margin: var(--s);
  font-size: 100%;
  text-align: justify;
  line-height: 110%;
}

.Card-profilePic {
  border-radius: 10em;
  margin: var(--s);
  margin-right: var(--m);
  max-width: 3rem;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
}

.Card-topMiddle {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 40% 20%; 
  flex: 1;
}

.Card-nameAgeGender{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 110%;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}


.Card-date {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 100%;
}

.Card-duration{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 80%;
  font-weight: 500;
  color: var(--neutral2);
}

.Card-location {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-weight: 300;
  font-size: 70%;
  color: var(--neutral3);
  margin: 0 0 var(--xs) 0;
  letter-spacing: 0.05em;
}

.Card-inbox {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.Card-expand {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
}


.Card-collapse {
  height: auto;
}

.NewListing-submitted {
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 500px;
}